# Tests

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(data={'A': [1,2,1,3,4], 'B': [1,3,1,5,5], 'C' : [1,2,3,4,5]})

df1 = df.drop(['C'], axis=1)
df

   A  B  C
0  1  1  1
1  2  3  2
2  1  1  3
3  3  5  4
4  4  5  5

In [4]:
from common.preprocessing_helper import get_unique_noconst
df1 = get_unique_noconst(df, verbose=True)

-- get_unique_noconst --
- Number of found duplicated rows :  0
- Remove constant columns :  (5, 3) -> (5, 3)
- Dropped const columns :

In [ ]:
res = pd.concat([df1, df['C']], axis=1

In [ ]:
df1

In [5]:
df2 = get_unique_noconst(df, df.columns.drop('C'), verbose=True)

-- get_unique_noconst --
- Number of found duplicated rows :  1
- Remove constant columns :  (4, 3) -> (4, 3)
- Dropped const columns :

In [6]:
df2

   A  B  C
0  1  1  1
1  2  3  2
3  3  5  4
4  4  5  5

In [8]:
df = pd.DataFrame(data={'A': [1,0,0,1,0], 'B': [0,1,0,0,0], 'C' : [1,0,1,0,1]})
df_nb = pd.DataFrame(data={'nA': [10,9,8,7,6]})

In [11]:
print df, "\n", df_nb

   A  B  C
0  1  0  1
1  0  1  0
2  0  0  1
3  1  0  0
4  0  0  1
   nA
0  10
1   9
2   8
3   7
4   6

In [21]:
cols = df.columns
res = pd.DataFrame(columns=cols)
for c in cols:
    res[c] = df[c] * df_nb['nA']

In [22]:
res

    A  B   C
0  10  0  10
1   0  9   0
2   0  0   8
3   7  0   0
4   0  0   6

In [23]:
df

   A  B  C
0  1  0  1
1  0  1  0
2  0  0  1
3  1  0  0
4  0  0  1